<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>

<app-search [(userName)]="name">
</app-search>
<br>
  <br>
<div class="row"  [@slideIn]  *ngIf = "name === 'good mood'" >

  <div class="col-md-3" *ngFor="let image of images.slice(0,4); let i = index;"   >
    <div>
      <div>
      {{i+1 + ')'}} <br>
        <img  src="{{  image.url   }}"   >
      </div>
    </div>
  </div>
</div>

<div   [@slideIn]  class="row" *ngIf = "name === 'good vibes'">
  <div     class="col-md-3"   *ngFor="let image of images.slice(4,8); let i = index;  ">
    {{i+1 + ')'}}<img  src="{{  image.url   }}"  class="img-fluid" alt="Responsive image" >

  </div>
</div>
<!--

<div   [style.display] = " name !=='good mood'?'none' : 'none' ">
  <div id="appear">
    cpaka

  </div>
</div>

<div id="appear"    *ngFor="let image of images.slice(0,4); let i = index;  "   >

{{i + 1}}
  <img  src="{{  image.url   }}"   >

</div>
  </div>

</div>
  <div *ngIf = "name === 'good mood'">
    <div  *ngFor="let image of images.slice(4,8); let i = index;  ">
      <img  src="{{  image.url   }}"   >

    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-3"><img src="../../../assets/mood/1.jpg">1</div>
    <div class="col-md-offset-1 col-md-3"><img src="../../../assets/mood/2.jpg">2</div>
  </div>
  <div class="row">
    <div class="col-sm-offset-0 col-sm-3"><img src="../../../assets/mood/3.jpg">3</div>
    <div class="col-sm-offset-3 col-sm-3"><img src="../../../assets/mood/4.jpg">4</div>
  </div>

</div>



-->
