@import url('https://fonts.googleapis.com/css?family=Gaegu');

.hero-unit{
  text-align: justify;
  height: auto;

  width: 100%;
  font-size: 300%;
  font-family: 'Gaegu', cursive;
  color: burlywood;
}

